@import 'colors'
@import 'fonts'

header
  border-top: 0.75rem solid $secondary-color
  border-bottom: 0.75rem solid lighten($primary-color, 15%)
  background-image: linear-gradient(120deg, lighten($primary-color, 12%), darken($primary-color, 5%))
  color: white

  h1, h2
    color: white

  p
    font-size: 1.4rem
    max-width: 70ch

.logo-navigation
  align-items: center
  padding: 1.5rem 2.6rem

  @media screen and (max-width: 312px)
    padding-bottom: 0

.logo
  max-width: 200px

  @media screen and (max-width: 600px)
    max-width: 100%

  svg
    width: 100%

.hero-text
  max-width: 400px
  align-self: center

  @media screen and (max-width: 600px)
    justify-self: center

.hero-image
  max-width: 600px
  align-self: self-end
