@mixin transform($displ)
  transform: scale(1.1) translateY($displ)

%container
  max-width: 1200px
  margin: 0 auto

$linear-gradient: linear-gradient(120deg, lighten($primary-color, 12%), darken($primary-color, 5%))
$border-top: 0.75rem solid $secondary-color
