@import 'fonts'
@import 'colors'
@import 'helpers'

html
  font-size: 16px

  @media screen and (max-width: 1200px)
    font-size: 14px

  @media screen and (max-width: 312px)
    font-size: 12px

body
  font-family: $body-font-family
  color: $primary-color

h1, h2, h3, h4
  font-family: $header-font-family
  line-height: 1.1

h1
  font-size: 2rem
  margin: 2rem 0

h2
  font-size: 1.8rem
  margin: 2rem 0

h3
  font-size: 1.6rem
  margin: 1rem 0

p
  margin: 2rem 0
  line-height: 1.5

.main-container
  @extend %container
  padding: 1rem 2rem

.inner-container
  @extend %container

.flex
  display: flex
  flex-flow: row wrap
  justify-content: space-between

.grid
  display: grid
  grid-template-columns: 1fr 1fr
  column-gap: 60px

  @media screen and (max-width: 600px)
    grid-template-columns: 1fr
    row-gap: 20px
    align-items: center

.icon
  overflow: hidden
  svg
    width: 100%
    height: 100%

  &.right
    svg
      @include transform(-7px)

  &.left
    svg
      @include transform(7px)

.icon
  &.right svg, &.left svg
    @media screen and (max-width: 600px)
      transform: none

.inner-text
  max-width: 400px
  align-self: center

  @media screen and (max-width: 600px)
    justify-self: center

.app-store
  display: grid
  grid-template-columns: repeat(auto-fit, minmax(155px, 1fr))
  column-gap: 20px
  svg
    height: 100%
    width: 100%
