a.conference-link
  text-decoration: none
  display: inline-flex
  flex-flow: row nowrap
  align-items: center
  justify-content: space-around
  text-transform: uppercase
  font-size: 0.8rem
  border-width: 2px
  border-style: solid
  border-radius: 50px
  padding: 0.9rem 2rem
  justify-self: end
  transition: all 0.25s ease-in-out

  &.white
    border-color: white
    color: white

    svg
      fill: white
      max-width: 1rem

    &:hover
      background-color: white
      color: $primary-color

      svg
        fill: $primary-color

  &.primary
    color: $primary-color
    border-color: $primary-color

    svg
      fill: $primary-color

    &:hover
      background-color: $primary-color
      color: white

      svg
        fill: white

header a.conference-link
  margin: 0
  align-self: center
